section.description.flex-column-center
    p.black_title.text-center.animate__animated.animate__fadeInLeftBig Ragnarok Online Prime — новый взгляд на любимую игру
    p.main_text.text-center.animate__animated.animate__fadeInRightBig  Версия Prime предлагает обновлённые игровые механики, классовые умения и улучшенный интерфейс, экспертные профессии и большинство локаций на старте, а в перспективе — третьи (и не только) профессии, раса Дорамов, неизведанные города и подземелья, а также весь новый и находящийся в разработке контент для Ragnarok Online!