section.domestication.content
    .domestication_info
        .domestication_info-text.animate__animated
            h2.big_black_font ПРИРУЧЕНИЕ ПОПОРИНГА 
            p.main_text  Версия Prime предлагает обновлённые игровые механики, классовые умения и улучшенный интерфейс, экспертные профессии и большинство локаций на старте, а в перспективе — третьи (и не только) профессии, раса Дорамов, неизведанные города и подземелья, а также весь новый и находящийся в разработке контент для Ragnarok Online!
        img(src="static/img/domestos.png", alt="").animate__animated
    .domestication_switcher
        ul.progressbar 
            li
                .progressbar-item 
                    p.black_title.dark_gray 100 TRX
                    p.main_text цена попытки
            li.active  
                .progressbar-item
                    p.black_title.dark_gray Приручить
            li 
                .progressbar-item 
                    p.black_title.dark_gray NIKOLAY VIVK
