section.hero
    h1.h1_font TronRO
    a.telegram(href="#")
        img(src="static/img/telegram.png", alt="")
        p.font_30.white Telegram
    .hero_total
        p.font_30.hero_total-white TOTAL
        p.font_40.hero_total-orange <span> 10 37 000 <span> TRX