section.ranks
    h2.gold_title.text-center РАНГИ МИДГРАДА
    ul.ranks__content
        li.ranks__content-item(data-hero="supernew")
            .ranks__content-item_bg.first_hero
                img(src="static/img/hero1.png", alt="") 
            h4.black_title.text-center Суперновичок
            p.small_violet_font.text-center Открыт
        li.ranks__content-item(data-hero="gunsmith")
            .ranks__content-item_bg.second_hero
                img(src="static/img/hero2.png", alt="") 
            h4.black_title.text-center Оружейник
            p.small_violet_font.text-center Открыт
        li.ranks__content-item.disabled(data-hero="comandor")
            .ranks__content-item_bg.third_hero
                img(src="static/img/hero3.png", alt="") 
            h4.black_title.text-center Командор
            p.small_violet_font.text-center Закрыто
        li.ranks__content-item.disabled(data-hero="paladin")
            .ranks__content-item_bg.fourth_hero
                img(src="static/img/hero4.png", alt="") 
            h4.black_title.text-center Паладин
            p.small_violet_font.text-center Закрыто
        li.ranks__content-item.disabled(data-hero="archimag")
            .ranks__content-item_bg.fives_hero
                img(src="static/img/hero5.png", alt="") 
            h4.black_title.text-center  Архимаг
            p.small_violet_font.text-center Закрыто
        li.ranks__content-item.disabled(data-hero="professor")
            .ranks__content-item_bg.sixth_hero
                img(src="static/img/hero6.png", alt="") 
            h4.black_title.text-center Профессор
            p.small_violet_font.text-center Закрыто
        li.ranks__content-item.disabled(data-hero="mistic")
            .ranks__content-item_bg.sevens_hero
                img(src="static/img/hero7.png", alt="") 
            h4.black_title.text-center Мистик
            p.small_violet_font.text-center Закрыто