section.statistic
    h2.gold_title.text-center МОЯ СТАТИСТИКА
    .statistic__content
        img(src="static/img/left_girl.png", alt="").animate__animated
        .investments.content
            .investments-top
                .investments-top__global
                    span.main_text Cколько инвестировано
                    span.brown_font 500 TRX
                .investments-top__local
                    ul 
                        li 
                            span.main_text Выведено 
                            span.brown_font.brown_font_small 10 TRX
                        li 
                            span.main_text Доступно кристаллов  
                            span.brown_font.brown_font_small 50 TRX
                .investments-top__available
                    .top
                        span.main_text.white Доступно на вывод 
                        span.font_40 100 TRX
                    .bottom.text-center
                        a(href="#").black_title.white Вывести
            .investments-cells
                ul.ranks__content
                    li.ranks__content-item
                        .ranks__content-item_bg
                            img(src="static/img/hero1.png", alt="") 
                        h4.black_title.text-center 25/50
                        p.small_violet_font.text-center 0/10
                    li.ranks__content-item.empty
                        .ranks__content-item_bg
                            img(src="static/img/hero2.png", alt="") 
                        h4.black_title.text-center 0/25
                        p.small_violet_font.text-center 0/10
                    li.ranks__content-item.empty
                        .ranks__content-item_bg
                            img(src="static/img/hero3.png", alt="") 
                        h4.black_title.text-center 0/12
                        p.small_violet_font.text-center 0/10
                    li.ranks__content-item.empty
                        .ranks__content-item_bg
                            img(src="static/img/hero4.png", alt="") 
                        h4.black_title.text-center 0/6
                        p.small_violet_font.text-center 0/10
                    li.ranks__content-item.empty
                        .ranks__content-item_bg
                            img(src="static/img/hero5.png", alt="") 
                        h4.black_title.text-center 0/5
                        p.small_violet_font.text-center 0/10
                    li.ranks__content-item.empty
                        .ranks__content-item_bg
                            img(src="static/img/hero6.png", alt="") 
                        h4.black_title.text-center 0/5
                        p.small_violet_font.text-center 0/10

            .investments-bottom
                h5.href_font Реферальная ссылка
                a(href="https://www.flaticon.com/free-icon/link_455691?" title="click to copy")#referal_link
                    span.black_title.white.mobile_hide https://www.flaticon.com/free-icon/link_455691?
                    span.black_title.white Click to copy
                    .investments-bottom_icon
                        include ../svg/href
                    

        img(src="static/img/right_girl.png", alt="").animate__animated